<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Editar Tarefa</title>
  {% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editar.css') }}">
  {% endblock %}

</head>
<body class="corp">
    <div class="container">
    <h1>Editar Tarefa</h1>
    <form action="/editar/{{ tarefa.id }}" method="POST" enctype="multipart/form-data">
      <label>Nome da Tarefa</label>
      <input type="text" name="nome" value="{{ tarefa.nome }}" required>
      <label>Descrição da Tarefa</label>
      <textarea name="descricao" required>{{ tarefa.descricao }}</textarea>
      <label>Prioridade</label>
      <select name="prioridade" required>
        <option>Baixa</option>
        <option>Média</option>
        <option>Alta</option>
      </select>
      <label>
        Concluída:
        <input type="checkbox" name="concluida" {% if tarefa.concluida == 'sim' %}checked{% endif %}>
      </label>

      {% if tarefa.imagem %}
      <div class="image-preview">
        <p>Imagem Atual:</p>
        <img src="{{ url_for('static', filename=tarefa.imagem) }}" alt="Imagem da Tarefa">
      </div>
      {% endif %}

      <input type="file" name="imagem">
      <button type="submit">Salvar Alterações</button>
    </form>

    <a href="/tarefas" class="back-link">Voltar para a Lista de Tarefas</a>
  </div>
</body>
</html>
