
*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #dce8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 40px;
    background-color: #9a6cc0;
    border-radius: 2px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 24px;
}

p {
    font-size: 18px;
    color: #374151;
    margin-bottom: 24px;
    text-align: center;
}

strong {
    color: rgb(163, 0, 239);
}

form {
    text-align: center;
}

button {
    background-color: #40E0D0;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #3b6a69;
}

a {
    display: block;
    text-align: center;
    color: #2563eb;
    font-size: 16px;
    margin-top: 16px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

