header {
    background-color: #40e0d0;
    color:white;
    text-align: center;
}

body{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
}